*.swp
*.swn
*.swo

dsp-benchmarks/*/stats/*
dsp-benchmarks/*/m5out/*
dsp-benchmarks/*/viz/*
dsp-benchmarks/*/verif/*
dsp-benchmarks/*/viz/*
dsp-benchmarks/*/*.data
dsp-benchmarks/*/*.o
dsp-benchmarks/*/*.log
dsp-benchmarks/*/*.exe

*/stats/*
*/verif/*
*/viz/*
*/m5out/*
*/bin/*

*.dfg.h
*.pyc
*.dot
