*.swp
*.swn
*.swo

benchmarks/*/stats/*
benchmarks/*/m5out/*
benchmarks/*/viz/*
benchmarks/*/dfgs/verif/*
benchmarks/*/dfgs/viz/*
benchmarks/*/dfgs/*.h
benchmarks/*/*.data
benchmarks/*/*.o
benchmarks/*/*.log
benchmarks/*/softbrain
benchmarks/*/baseline
benchmarks/*/optimized

*/stats/*
*/verif/*
*/viz/*
*/m5out/*
*/bin/*

*/.ycm_extra_conf.py

*.pyc
