*/*.s
*/*.o
*/*.exe
*/*.out
*/*.opt
*/*.riscv
*/*.bc
*/*.ll
*/*.log
*/*.dfg
*/*.dfg.h
*/*.dfg.bits.h
*/sched/*
*/verif/*
*/viz/*
*/m5out/*
*/stats/*
*/gams/*
*/FailList
*/dfgs/*
*/dfgs.list
*/.extracted-llvm-flags
